body { 
    padding-top: 70px; 
    min-height: 100%;
}

.mainPic{
    display: flex;
    justify-content: center;
}


.cardform{
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.wrap{
    border-radius: 10px;
    border: solid 1px rgb(196, 196, 196);
    padding: 15px;
}
